@import "bluish.css";
:root{
  --primary-color: #24262B;
  --secondary-color: #20B787;
  --font-primary: 'DM Sans', sans-serif;
  --padding-section: 70px 0;
}
html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-primary);
  /* background: url(../img/designer.jpg) no-repeat fixed center; */
  background-size: cover;
  padding-top: 36px;
}
nav{
  position: fixed;
  top: 0;
}
#barra_menu{
  width: 100%;
  background-color: var(--primary-color);
  border-bottom: 0.01em solid #3c3b3b;
}
#navegacao{
   width: 100%;
   height: 85vh;
   background: var(--primary-color);
   font-size: 14px;
   background-size: cover;
   font-family: var(--font-primary);
}



.mouse-anima{
  padding-bottom: 70px;
  background-color: var(--primary-color);
}

.active{
  color: var(--secondary-color);
}

.navbar-toggler{
  background-color: var(--primary-color);
}
.navbar-toggler-icon{
  color: #fff;
  font-size: 26px;
}
/*__ menu_hamburguer__*/
#nav-icon3{
  width: 60px;
  height: 45px;
  position: relative;
  /* margin: 50px auto; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #20B787;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


.chamada{
  color: #fff;
  width: 100%;
  height: 80vh;
  /* border: 2px solid red; */
}
.chamada h1{
  font-weight: 900;
}
#sobre-mim, #oquefaco{
  padding: var(--padding-section);
  background-color: var(--primary-color);
  color: #fff;
  /* border: 1px solid red; */
  box-sizing: border-box;
}
#oquefaco{
  padding-bottom: 70px;
}
#portfolio{
  /* padding: var(--padding-section); */
  background: #f8f9fa;
  position: relative;
  overflow: hidden;
}
#sobre-mim p{
  font-size: 14px;
  line-height: 28px;
}
.color-about{
  color:var(--secondary-color);
}
.imagem::before {
  position: absolute;
  content: '';
  top: 30px;
  left: 45px;
  width: 225px;
  height: 225px;
  z-index: 2;
  border: 4px solid var(--minhavar);
}

.active:hover {
 color:var(--secondary-color);
 text-decoration: underline;
}
.botao{
 width: 160px; /* 45% - mobile*/
 border:1px solid var(--secondary-color);
 display: inline-block;
 text-align: center;
 padding: 10px;
 margin-right:  10px;
 margin-top: 20px;
 color: #fff;
 transition: .2s;
}

.txt{
  line-height: 28px;
  margin-bottom: 46px;
}
.chamada h1{
 /* color: red; */
 font-size: 52px;
}

/*barra de skills*/
.skill-area .section-title {
  margin-bottom: 70px;
}
.skill-bars {
  margin-top:30px;
  list-style: none;
  padding-left: 0px;
}
.skill-bars li {
  height: .2rem;
  background: #17181b;
  margin-top: 50px;
  padding: 0;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
  box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}
.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -2.5rem;
  font-size: 14px;
  line-height: 3.4rem;
}

.skill-bars li .progress {
  background:var(--secondary-color);
  position: relative;
  height: 100%;
  border-radius: 0;
  overflow: unset;
}

.img::before {
  position: absolute;
  content: '';
  top: 30px;
  left: 45px;
  width: 225px;
  height: 225px;
  z-index: 2;
  /* background-color: var(--minhavar); */
  border: 4px solid var(--minhavar);
}

.skill-bars li .percent65 {
width: 65%;
}

.skill-bars li .percent70 {
width: 70%;
}

.skill-bars li .percent75 {
width: 75%;
}

.skill-bars li .percent80 {
width: 80%;
}

.skill-bars li .percent85 {
width: 85%;
}

.skill-bars li .percent90 {
width: 90%;
}

.socials{
  color: var(--secondary-color);
  font-size: 32px;
  margin-top: 10px;
}

.descricao {
  padding: 30px 0;
  text-align: left;
  min-height: 85px;
  display: flex;
  align-items: center;
  line-height: 28px;
}
.descricao:last-child{
  margin-bottom: 0px;
}
.descricao .descri-icon {
  flex: 0 0 60px;
}

.descricao .descri-txt{
  font-size: 14px;
  margin-left: 15px;
}

.descricao .descri-titulo{
  color: var(--secondary-color);
  display: block;
  font-size: 16px;
}

.btn{
  background-color: var(--secondary-color);
  border-radius: 0;
  outline: 0;
  border: 0;
  width: 160px;
}
#oquefaco h2, #sobre-mim h2{
  margin-bottom: 30px;
}
label{
  color: #676767;
}
.subtitle{
  color: #676767;
  font-size: 13px;
  display: block;
  margin-bottom: 15px;
}


/*animacao_mouse*/
.scroll-icon {
  position: absolute;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
  border-right: 1px dashed rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.scroll-icon .mouse {
  position: absolute;
  height: 34px;
  width: 24px;
  border: 2px solid #fff;
  border-radius: 12px;
  right: -13px;
  top: 2px;
  display: block;
  text-align: center;
  z-index: 10;
  -webkit-animation: vertical 3s ease infinite;
  animation: vertical 3s ease infinite;
}

.scroll-icon .mouse::before {
  content: "";
  display: block;
  height: 5px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -1.5px;
  border-radius: 2px;
}

.scroll-icon .end-top {
  content: "";
  background-color: #fff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: -6px;
  right: -4px;
}

.scroll-icon .scroll-text {
  font-size: 1.5rem;
  color: #FFFFFF;
  margin-top: 1.5rem;
}

@-webkit-keyframes vertical {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(20px);
  }
}

@keyframes vertical {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-5px);
  }
  40% {
    -webkit-transform: translateY(20px);
  }
}

/*______________________PORTFOLIO______________________*/

#work{
  padding: var(--padding);
  position: relative;
  overflow: hidden;
}
#work .work-filter {
  list-style: none;
  z-index: 10;
  background: transparent;
  margin-bottom: 30px;
  margin-top: 50px;
  border: 0;
  /* border-bottom: 1px solid #eeeeee0d; */
  list-style: none;
  z-index: 10;
  background: transparent;
  padding: 0;
}
#work .work-filter li.active {
  color: var(--secondaryColor)!important;
  /* border: 1px solid var(--minhavar); */
  /* background-color: var(--minhavar); */
  position: relative;
  padding: 5px 20px;
  font-size: 14px;
}
#work .work-filter li.active {
    color: #20B787!important;
    /* border: 1px solid var(--minhavar); */
    /* background-color: var(--minhavar); */
    position: relative;
}
#work .work-filter li:hover {
  position: relative;
  text-decoration: none;
}

#work .work-filter li {
  display: inline-block!important;
  color: var(--secondaryColor);
  cursor: pointer;
  padding: 5px 20px;
  font-size: 14px;
}

#work .work {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.work-filter #marker{
  position: absolute;
  bottom: 20px;
  height: 3px;
  width: 80px;
  background: var(--secondary-color);
  transition: 0.5s;
  /* border-radius: 4px; */
}

#work .work .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#work .work .desc .con {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

#work .work .desc .con span {
  display: inline;
  padding-right: 5px;
}

#work .work .desc .con span a {
  color: #cccccc;
  padding: 5px;
  background: #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#work .work .desc h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  margin-bottom: 15px;
}

#work .work .desc h3 a {
  color: var(--secondary-color);
  /* border-bottom: 2px solid var(--secondary-color); */
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
}

#work .work .desc span {
  display: block;
  color: #999999;
  font-size: 13px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#work .work .desc span a {
  color: #000;
}


@media screen and (max-width: 768px) {
  #work .work .desc {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }
  #work .work .desc h3 {
    font-size: 28px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #000;
  }
  #work .work .desc span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

#work .work:hover .desc {
  opacity: 1;
}

#work .work:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#work .work:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#work .work-desc h2 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#work .work-desc span {
  display: block;
  color: #666666;
  font-size: 13px;
  margin-bottom: 15px;
}

#work .work-desc span a {
  color: #666666;
}
.footer{
  background-color: var(--primary-color);
  color: #fff;
  padding: var(--padding-section);
}
.footer input, .footer textarea{
  background-color: #1c1d22;
  border: 0;
}
.footer input{
  border-radius: 0px;
}
.footer input:focus{
  background-color: #1c1d22;
}
.footer .fab, .footer .far{
  padding-right: 15px;
  margin-right: 15px;
  font-size: 28px;
  color: #676767;
}
::-webkit-selection {
  color: var(--primary-color);
  background: var(--minhavar);
}

::-moz-selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}

::selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}
::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}
::-webkit-scrollbar {
  width: 5px;
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}
@media screen and (max-width: 992px) {
  ::-webkit-scrollbar {
   display: none;
 }
}
#navegacao .nav-item .nav-link:hover{
  color: var(--secondary-color);
}

#navegacao .nav-item .nav-link::before{
  content: "< ";
  color: var(--primary-color);
  transition: .2s;
}

#navegacao .nav-item .nav-link::after{
  content: " >";
  color: var(--primary-color);
  transition: .2s;
}

#navegacao .nav-item .nav-link:hover:before{
  content: "< ";
  color: var(--secondary-color);
}

#navegacao .nav-item .nav-link:hover:after{
  content: " >";
  color: var(--secondary-color);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.2rem !important;
}



a {
  color: #fff;
}

.rw {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.rw img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
}

header {
  background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}

.gallery {
  padding: 40px 0 300px;
  position: relative;
  overflow: hidden;
}
.gallery ul {
  padding-top: 50px;
  position: relative;
}
.gallery ul li {
   margin-bottom: 20px;
  /* width: 23.2456140351%; */
  position: relative;
}
.gallery ul li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}
.gallery ul li a:before {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 40%;
  left: 50%;
  margin: -14px 0 0 -16px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20inkscape%3Aversion%3D%220.48.4%20r9939%22%20sodipodi%3Adocname%3D%22icon-fullscreen.svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20960%20560%22%0A%09%20enable-background%3D%22new%200%200%20960%20560%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Csodipodi%3Anamedview%20%20borderopacity%3D%221%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20objecttolerance%3D%2210%22%20gridtolerance%3D%2210%22%20guidetolerance%3D%2210%22%20showgrid%3D%22false%22%20fit-margin-top%3D%220%22%20fit-margin-left%3D%220%22%20inkscape%3Azoom%3D%227.375%22%20inkscape%3Acx%3D%22-5.1525424%22%20inkscape%3Acy%3D%2216%22%20id%3D%22namedview11%22%20inkscape%3Awindow-x%3D%22-8%22%20inkscape%3Awindow-y%3D%22-8%22%20fit-margin-right%3D%220%22%20inkscape%3Apageopacity%3D%220%22%20fit-margin-bottom%3D%220%22%20inkscape%3Awindow-width%3D%221366%22%20inkscape%3Awindow-height%3D%22706%22%20inkscape%3Awindow-maximized%3D%221%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Acurrent-layer%3D%22svg2%22%3E%0A%09%3C/sodipodi%3Anamedview%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22220%22%20y%3D%22260%22%20fill%3D%22%23FFFFFF%22%20width%3D%22536%22%20height%3D%2224%22/%3E%0A%3C/g%3E%0A%3Cg%3E%0A%09%3Crect%20x%3D%22476%22%20y%3D%224%22%20fill%3D%22%23FFFFFF%22%20width%3D%2224%22%20height%3D%22556%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A) no-repeat;
  content: "";
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:before {
  top: 50%;
  opacity: 1;
}
.gallery ul li a:after {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.gallery ul li a:hover:after {
  opacity: 1;
}

.port {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 100px;
  background: #ffffff;
  background-color: #fafafa;
  z-index: 103;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.port img {
  width: 50%;
}
.port .description {
  float: left;
  width: 50%;
  max-height: 100%;
  padding: 0 40px 40px;
  overflow: auto;
}
.port h1 {
  font-size: 35px;
  line-height: 2.3;
  padding: 0;
}
.port > * {
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.port.item_open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.port > * {
  opacity: 1;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.close {
  width: 21px;
  height: 21px;
  background: url(data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.1.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20id%3D%22svg2%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2021%2021%22%0A%09%20enable-background%3D%22new%200%200%2021%2021%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22translate%280%2C-1031.3622%29%22%3E%0A%09%3Cpath%20id%3D%22path2987%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M0%2C1031.4l21%2C21%22/%3E%0A%09%3Cpath%20id%3D%22path2989%22%20fill%3D%22none%22%20stroke%3D%22%23000000%22%20d%3D%22M21%2C1031.4l-21%2C21%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A%0A) no-repeat;
  position: absolute;
  right: 10px;
  top: -121px;
  opacity: 1;
  z-index: 1004;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item_open .close {
  opacity: 1;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .botao {
    width: 100%;
  }
  .descricao{
    display: block;
  }
  .descricao .descri-txt{
    margin-left: 10px;
  }
  picture{
    margin-left: 10px;
  }
}
